@font-face {
    font-family: 'MyFont';
    src: url('hanyijielongtaohuayuan.ttf') format('truetype');
}
body {
	background-image: url('炸鸡.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #6c0002;
}
#biaoti {
	text-align: center;
	font-family: 'MyFont';
	font-size: 180px;
	color: #fff0d8
}
.anniuzhengti{
	  display: flex;
	  justify-content: center;
	  align-items: center;
}
.anniu {
	background: rgba(255, 240, 216, 0.7);
	text-align: center;
	width: 100px;
	height: 70px;
	border: none;
	border-radius: 20px;
	color: #6c0002;
	font-size: 22px;
	font-weight: bolder;
	margin: 10px;
}
.anniu:hover {
	width: 110px;
	height: 77px;
}
#others{
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
	width: 200px;
	height: 70px;
	border: none;
	border-radius: 20px;
	color: #6c0002;
	font-size: 22px;
	margin-left: 10px;
	margin-right: 3px;
}
.anniu2 {
	background: rgba(255, 240, 216, 0.7);
	text-align: center;
	width: 80px;
	height: 70px;
	border: none;
	border-radius: 20px;
	color: #6c0002;
	font-size: 22px;
	font-weight: bolder;
	margin: 0px;
}
.anniu2:hover {
	width: 110px;
	height: 77px;
}
.rounded-background {
	margin-top: 100px;
	margin-bottom: 20px;
  padding: 10px;
  color: white;
  font-size: 30px;
	font-weight: bolder;
	letter-spacing: 2px;
	text-align: center;
